/*BOUNCING ARROW START*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.camera-placeholder {
  color:white;
  text-align: center;
}

.fa-camera-retro {
  text-align: center;
}

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}

.photo-page-text {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.radio-section {
  text-align: center;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-webkit-keyframes mouse-scroll {
  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
/*BOUNCING ARROW END*/

.splash {
  background: #FFB75E;
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03);
  background: linear-gradient(to left, #FFB75E , #ED8F03);
  color: #fff;
  margin-bottom: 0 !important;
  overflow: hidden;
  padding-top: 10em !important;
  padding-bottom: 12em !important;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

/*PHOTO PAGE STYLES*/
.orange-background {
  background: #F09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F09819 , #EDDE5D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.get-photo-header{
  font-size: 3em;
  text-align: center;
  color: #fff
}

.lead {
  text-align: center;
}

.video-header {
  font-size: 1.5em;
}

.my-playlist-wrapper {
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*PHOTO PAGE STYLES END*/


/*Radio Specific styles*/

div.controls h1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: -10px;
  padding: 0 10px;
  color: #fafafa;
}

div.controls {
  margin-bottom: 12px;
  border: 1px dotted #fafafa;
  padding: 25px 20px;
  position: relative;
  margin-bottom: 20px;
}

form {
  width: 80%;
  margin: 0 auto;
}

input[type='radio'] + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

input[type='radio'] + label:hover:after, input[type='radio']:checked + label:after {
  content: '\2022';
  position: absolute;
  top: 0px;
  font-size: 19px;
  line-height: 15px;
}

input[type='radio'] + label:hover:after {
  color: #c7c7c7;
}

input[type='radio']:checked + label:after, input[type='radio']:checked + label:hover:after {
  color: #fff;
}

/*SNAP BUTTON START*/

.Wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.Button {
  margin-bottom: 50px;
  -webkit-perspective: 600px;
          perspective: 600px;
}
.Button.Button--start {
  width: 120px;
  height: 45px;
}
.Button.Button--start .myButton {
  border-radius: 4px;
}
.Button.Button--select {
  width: 60px;
  height: 60px;
}
.Button.Button--select .myButton {
  border-radius: 50%;
}



.blah {
  background: #FFB75E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color: #FF8C00;
background-color: #FF4500
}

.myButton {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  box-shadow: 0px 0px 0px #FF4500;
  background: -webkit-radial-gradient(center ellipse, #FF8C00 0%, #ED8F03 100%);
  background: radial-gradient(ellipse at center, #FF8C00 0%, #ED8F03 100%);
  -webkit-transition: box-shadow 0.15s, -webkit-transform 0.15s;
  transition: box-shadow 0.15s, -webkit-transform 0.15s;
  transition: transform 0.15s, box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s, -webkit-transform 0.15s;
  -webkit-transform: rotateX(0deg) translateY(0);
          transform: rotateX(0deg) translateY(0);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
.myButton:hover {
  box-shadow: 0px 5px 0px #FF4500;
  border-radius: 8px;
  -webkit-transform: rotateX(30deg) translateY(0);
          transform: rotateX(30deg) translateY(0);
}
.myButton:hover:active {
  text-shadow: 0 0 4px #FF4500;
  box-shadow: 0 1px 0 #423847;
  background: -webkit-radial-gradient(center ellipse, #FF8C00 0%, #ED8F03 100%);
  background: radial-gradient(ellipse at center, #FF8C00 0%, #ED8F03 100%);
  -webkit-transition: box-shadow 0.05s, -webkit-transform 0.05s;
  transition: box-shadow 0.05s, -webkit-transform 0.05s;
  transition: transform 0.05s, box-shadow 0.05s;
  transition: transform 0.05s, box-shadow 0.05s, -webkit-transform 0.05s;
  -webkit-transform: rotateX(30deg) translateY(4px);
          transform: rotateX(30deg) translateY(4px);
}
.myButton span {
  position: relative;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*SNAP BUTTON END*/
.metallic-bg {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #abbaab , #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #abbaab , #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 5%;
  padding-bottom:5%;
  height:20%;
  text-align: center;
}

/*ANIMATED ELLIPSES*/
.loading {
  display: table;
  margin: 0 auto;
  font-size: 2em;
  color: white;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
