.header-placeholder {
  color: #ffffff;
  font-size: 5em;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.redirect-btn {
  background-color: rgba(255, 255, 255, .02);
  color: #fff;
  border-color: #fff;
  border-width: thin;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.col-md-6 {
  width: 50%;
  outline: 1px solid orange;
  padding: 30px 30px 30px 30px;
  height: 500px;
}

.demo-form {
  text-align: center;
}

#nobullets li {
  list-style-type: none;
}

.round {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.round img {
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.box {
    display: inline-block;
    width: 320px;
    border-color: #fff;
}

.column-height-fix {
height: 500px;

}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

#Cam {
    background: rgb(255, 255, 215);
}

#Prev {
}

#Saved {
    background: rgb(255, 255, 55);
}

.hidden {
    display: none;
}

.text-muted {
    color: #777
}
.text-primary {
    color: #fed136
}
p {
    font-size: 14px;
    line-height: 1.75
}
p.large {
    font-size: 16px
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0
}
a {
    color: #fed136
}
a:hover, a:focus, a:active, a.active {
    color: #fec503
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222;
}
.btn-primary {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #fed136;
    border-color: #fed136;
}
a.navbar-brand.page-scroll {
  color:#fff;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff
}
.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #fed136;
    border-color: #fed136;
}
.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.sample-playlists-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}
.sample-playlists-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}
.sample-playlists-modal .modal-content p {
    margin-bottom: 30px
}
.sample-playlists-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}
.sample-playlists-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}
.sample-playlists-modal .modal-content img {
    margin-bottom: 30px
}
.sample-playlists-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}
.sample-playlists-modal .close-modal:hover {
    opacity: .3
}
.sample-playlists-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}
.sample-playlists-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}
.sample-playlists-modal .modal-backdrop {
    opacity: 0;
    display: none
}
::-moz-selection {
    text-shadow: none;
    background: #fed136
}
::selection {
    text-shadow: none;
    background: #fed136
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}
body {
    webkit-tap-highlight-color: #fed136
}


.dashSection {
  margin : 2px !important;
  padding: 2px !important;
  padding-left : 1px !important;
  padding-right: 1px !important;
}
.dashSection > div {
  min-height : 100px;
  background-color : #c14543;
  margin : 2px !important;
}

.block1 {  min-height : 200px}
.block5 {  min-height : 200px}
.block6 {  min-height : 270px}
.block7 {  min-height : 230px}
.block8 {  min-height : 300px}


/*MODAL CSS*/
.tracklist
{
    list-style-type: none;
}

.top {
font-family: oswald;
  font-size: 70px;
  color: #FDD035;
  text-align: center;
}
.music {
  list-style: none;
  background: #f2e0a9;
  padding: 10px;
  margin-left: -25px;
  font-family: oswald;
  color: #f2b900;
  width: 550px;
  font-size: 20px;
}
.music:nth-child(odd) {
  background: #f2b900;
  color:#f2e0a9;
}
.sub {
  font-size: 30px;
  margin-top: -20px;
  color: #378a89;
  letter-spacing: 15px;
}
.title {
  color: #fff;
  font-family: oswald;
  font-size: 30px;
  padding: 10px;
}

.centered-playlist {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.layout {
  text-align: center;
}
.center {
  text-align: left;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}


/*PHOTO PAGE STYLES*/


.orange-background {
  background: #F09819; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F09819 , #EDDE5D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F09819 , #EDDE5D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.getPhotoHeader{
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  text-align: center;
  color: #fff
}

.lead {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  text-align: center;
  color: #F09819
}

.video-header {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  color: #F09819;
  font-size: 1.5em;
}

.my-playlist-wrapper {
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*PHOTO PAGE STYLES END*/


/*Radio Specific styles*/

div.controls h1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: -10px;
  padding: 0 10px;
  color: #fafafa;
}

div.controls {
  margin-bottom: 12px;
  border: 1px dotted #fafafa;
  padding: 25px 20px;
  position: relative;
  margin-bottom: 20px;
}

form {
  width: 80%;
  margin: 0 auto;
}

input[type='radio'] + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

input[type='radio'] + label:hover:after, input[type='radio']:checked + label:after {
  content: '\2022';
  position: absolute;
  top: 0px;
  font-size: 19px;
  line-height: 15px;
}

input[type='radio'] + label:hover:after {
  color: #c7c7c7;
}

input[type='radio']:checked + label:after, input[type='radio']:checked + label:hover:after {
  color: #fff;
}
