<link rel="stylesheet" href="/css/getphoto.css"/>
<div class="jumbotron text-center splash">
    <h1>SNAP A PIC</h1>
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
</div>
<section style="text-align:center;">
  <br>
  <br>
  <div class="row">
    <h3>Take a picture of your face to get your mood-based playlist</h3>
  </div>
  <div class="row" >
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <div id="my_camera"></div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  </div>
</section>
<br>
<br>
<br>
<div class="Wrapper">
    <div class="Button Button--select">
        <button class="myButton" ng-click="take_snapshot()"><span><i class="fa fa-camera fa-2" aria-hidden="true"></i></span></button>
    </div>
</div>
<section class="metallic-bg">
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="preview-prompt" ng-hide="photoTaken">
      <h1 class="camera-placeholder">Preview</h1>
      <div class="loading"></div>
    </div>
    <div id="results"></div>

  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box hidden" id="Saved">
      <b>Saved</b><span id="loading"></span><img id="uploaded" src="" />
  </div>
</div>
</section>
<section style="padding-top:5%; padding-bottom:5%;">
    <div class="page-header">
        <p class="lead">Once you've snapped it, you can get your customized playlist</p>
        <div class="radio-section">
          <form>
              <div class="controls">
                  <h1>Radio Boxes</h1>
                  <input id='random-option' type="radio" name='r-group-1' checked='checked' ng-model="option" value="random">
                  <label for="random-option">RANDOM</label>
                  <input id='personal-option' type="radio" name='r-group-1' ng-model="option" value="personal">
                  <label for="personal-option">PERSONAL</label>
                  <h4>Spotify Username</h4>
                  Your Username:
                  <input type="text" name="Spotify Username" ng-model="username" />
              </div>
          </form>
        </div>
        <div class="my-playlist-wrapper">
            <button type="button" class="btn-primary my-playlist-button" id="getMood">My Mood Playlist</button>
        </div>
    </div>
</section>
