<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Use Facial Recognition Technology To Explore Musical Genres</div>
            <div class="intro-heading">Your Mood-Based Music Experience Is Here</div>
            <a ui-sref="getphoto" class="page-scroll btn btn-xl">GET MY PLAYLIST</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HOW DOES IT WORK?</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-camera-retro fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">SNAP OR UPLOAD YOUR PICTURE</h4>
                <p class="text-muted">Take a clear photo of your face</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">ANALYZING YOUR EXPRESSION THROUGH COGNITIVE SOFTWARE</h4>
                <p class="text-muted">We use the Microsoft Project Oxford Face API to detect your emotions</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-spotify fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">DELIVERING MUSIC THAT MATCHES YOUR MOOD</h4>
                <p class="text-muted"> Spotify API returns your customized playlist</p>
            </div>
        </div>
    </div>
</section>

<!-- Sample-Playlists Grid Section -->
<section id="sample-playlists" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">SAMPLE PLAYLISTS</h2>
                <h3 class="section-subheading text-muted"> <span style="color:gray">See mood and playlist pairings for famous faces </span> </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 sample-playlists-item">
                <a href="#sample-playlistsModal1" class="sample-playlists-link" data-toggle="modal">
                    <div class="sample-playlists-hover">
                        <div class="sample-playlists-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sample-playlists/HAPPY.png" class="img-responsive" alt="">
                </a>
                <div class="sample-playlists-caption">
                    <h4>Barack Obama</h4>
                    <p class="text-muted">Happy</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 sample-playlists-item">
                <a href="#sample-playlistsModal2" class="sample-playlists-link" data-toggle="modal">
                    <div class="sample-playlists-hover">
                        <div class="sample-playlists-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sample-playlists/BRUNO_MARS_FINAL.png" class="img-responsive" alt="">
                </a>
                <div class="sample-playlists-caption">
                    <h4>Bruno Mars</h4>
                    <p class="text-muted">Surprise</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 sample-playlists-item">
                <a href="#sample-playlistsModal3" class="sample-playlists-link" data-toggle="modal">
                    <div class="sample-playlists-hover">
                        <div class="sample-playlists-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sample-playlists/SADNESS.png" class="img-responsive" alt="">
                </a>
                <div class="sample-playlists-caption">
                    <h4>Child</h4>
                    <p class="text-muted">Sad</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 sample-playlists-item">
                <a href="#sample-playlistsModal4" class="sample-playlists-link" data-toggle="modal">
                    <div class="sample-playlists-hover">
                        <div class="sample-playlists-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sample-playlists/SCARLETT_JOHANSSEN_FINAL.png" class="img-responsive" alt="">
                </a>
                <div class="sample-playlists-caption">
                    <h4>Scarlett Johanssen</h4>
                    <p class="text-muted">Neutral</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 sample-playlists-item">
                <a href="#sample-playlistsModal5" class="sample-playlists-link" data-toggle="modal">
                    <div class="sample-playlists-hover">
                        <div class="sample-playlists-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sample-playlists/ANGER.png" class="img-responsive" alt="">
                </a>
                <div class="sample-playlists-caption">
                    <h4>Hugh Laurie</h4>
                    <p class="text-muted">Anger</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 sample-playlists-item">
                <a href="#sample-playlistsModal6" class="sample-playlists-link" data-toggle="modal">
                    <div class="sample-playlists-hover">
                        <div class="sample-playlists-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/sample-playlists/DISGUST.png" class="img-responsive" alt="">
                </a>
                <div class="sample-playlists-caption">
                    <h4>Woman</h4>
                    <p class="text-muted">Disgust</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What Can Janus Do?</h2>
                <h3 class="section-subheading text-muted">Gauge emotions based on facial recognition tech</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/party.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Smart Parties</h4>
                                <h4 class="subheading">No Need for a DJ</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Generate a playlist based on the partygoers emotions</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/cafe.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Satisfy Patrons</h4>
                                <h4 class="subheading">Great for Cafes and Restaurants</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Say goodbye to music that annoys your patrons. Janus can tell you whether your playlist is working for your customers.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/person.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Home and Health</h4>
                                <h4 class="subheading">Your own personal music picker</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Track your mood in a fun way and keep track of your mental state</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Learn
                                <br>More
                                <br>Today</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- DEMO SECTION -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">TRY IT NOW</h2>
                <h3 class="section-subheading text-muted">Upload or Add a URL of Your Face</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="demoForm">
                    <div class="row">
                        <!-- LEFT COLUMN -->
                        <div class="col-md-6">
                            <div>
                                <span style="color: white; font-size: 1.25em; text-align: center;">Copy and Paste an Image URL</span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Image URL *" id="img-url">
                            </div>
                            <div class="clearfix"></div>
                            <div id="success"></div>
                            <button type="submit" ng-click="urlEmotion()" class="btn btn-xl">Image URL</button>
                            <br>
                            <br>
                            <br>
                            <div>
                                <span style="color: white; font-size: 1.25em; text-align: center;">Have your own file?</span>
                            </div>
                            <br>
                            <!-- FANCY UPLOAD BUTTON -->
                            <label for="filename" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> CHOOSE FILE
                            </label>
                            <input id="filename" type="file" />

                            <button id="imageUploadButton" class="btn btn-xl" ng-click='getFacialExpressionScore() '>Upload</button>
                        </div>
                        <!-- RIGHT COLUMN -->
                        <div class="col-md-6 column-height-fix">
                            <div class="headerPlaceholder" ng-hide="currentImage">Your Mood Stats Here</div>
                            <img class="round" ng-src={{currentImage}}></img>
                            <div class="emotion-demo-header" ng-show="currentImage"> <span style="font-size: 2em; color: #FFFFFF; font-family: arial"> Your Mood Scores </span></div>
                            <button class="redirect-btn" ng-show="currentImage" ui-sref='getphoto'>Get Your Playlist</button>

                            <span style="font-size: 1em; color: #FFFFFF; font-family: arial;">
                          <ul style="list-style-type: none;" ng-repeat="mood in emotionsArr">
                              <li style="list-style-type: none;">{{mood[1]}} {{mood[0]}}&#47;10</li>
                          </ul>
                          </span>


                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">MADE BY BRETT, KIM, AND MIKE</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<!-- Sample-Playlists Modals -->
<!-- Use the modals below to showcase details about your sample-playlists projects! -->

<!-- Sample-Playlists Modal 1 -->
<div class="sample-playlists-modal modal fade" id="sample-playlistsModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg">
                    <div class="modal-body">

                        <!-- PLAYLIST START  -->
                        <div class="top">HAPPY PLAYLIST <img src="/facial-recognition/img/new.png"></div>
                        <div class="centered-playlist">
                            <ul class>
                                <li class="music">BREATHE CAROLINA | BLACKOUT</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">SWEDISH HOUSE MAFIA | DON'T YOU WORRY CHILD
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">IMAGINE DRAGONS | RADIOACTIVE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">BROKEN BELLS | THE HIGH ROAD</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | GET HIGHER </br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">THE BLACK KEYS | LITTLE BLACK SUBMERINES</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">ALEX CLAIRE | TOO CLOSE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | LOVE LIKE YOU</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">M83 | MIDNIGHT CITY</br>
                                    <audio controls style="borer-radius: 0px;">
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <br>
                                <br>
                                <!-- PLAYLIST END -->
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Sample</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sample-Playlists Modal 2 -->
<div class="sample-playlists-modal modal fade" id="sample-playlistsModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg">
                    <div class="modal-body">
                        <!-- PLAYLIST START  -->
                        <div class="top">SURPRISE PLAYLIST</div>
                        <div class="centered-playlist">
                            <ul class>
                                <li class="music">BREATHE CAROLINA | BLACKOUT</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">SWEDISH HOUSE MAFIA | DON'T YOU WORRY CHILD
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">IMAGINE DRAGONS | RADIOACTIVE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">BROKEN BELLS | THE HIGH ROAD</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | GET HIGHER </br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">THE BLACK KEYS | LITTLE BLACK SUBMERINES</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">ALEX CLAIRE | TOO CLOSE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | LOVE LIKE YOU</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">M83 | MIDNIGHT CITY</br>
                                    <audio controls style="borer-radius: 0px;">
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <br>
                                <br>
                                <!-- PLAYLIST END -->
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Sample</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sample-Playlists Modal 3 -->
<div class="sample-playlists-modal modal fade" id="sample-playlistsModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <!-- PLAYLIST START  -->
                        <div class="top">SAD PLAYLIST</div>
                        <div class="centered-playlist">
                            <ul class>
                                <li class="music">BREATHE CAROLINA | BLACKOUT</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">SWEDISH HOUSE MAFIA | DON'T YOU WORRY CHILD
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">IMAGINE DRAGONS | RADIOACTIVE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">BROKEN BELLS | THE HIGH ROAD</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | GET HIGHER </br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">THE BLACK KEYS | LITTLE BLACK SUBMERINES</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">ALEX CLAIRE | TOO CLOSE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | LOVE LIKE YOU</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">M83 | MIDNIGHT CITY</br>
                                    <audio controls style="borer-radius: 0px;">
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <br>
                                <br>
                                <!-- PLAYLIST END -->
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Sample</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sample-Playlists Modal 4 -->
<div class="sample-playlists-modal modal fade" id="sample-playlistsModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg">
                    <div class="modal-body">
                        <!-- PLAYLIST START  -->
                        <div class="top">NEUTRAL PLAYLIST</div>
                        <div class="centered-playlist">
                            <ul class>
                                <li class="music">BREATHE CAROLINA | BLACKOUT</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">SWEDISH HOUSE MAFIA | DON'T YOU WORRY CHILD
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">IMAGINE DRAGONS | RADIOACTIVE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">BROKEN BELLS | THE HIGH ROAD</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | GET HIGHER </br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">THE BLACK KEYS | LITTLE BLACK SUBMERINES</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">ALEX CLAIRE | TOO CLOSE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | LOVE LIKE YOU</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">M83 | MIDNIGHT CITY</br>
                                    <audio controls style="borer-radius: 0px;">
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <br>
                                <br>
                                <!-- PLAYLIST END -->
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Sample</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sample-Playlists Modal 5 -->
<div class="sample-playlists-modal modal fade" id="sample-playlistsModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg">
                    <div class="modal-body">
                        <!-- PLAYLIST START  -->
                        <div class="top">ANGER PLAYLIST</div>
                        <div class="centered-playlist">
                            <ul class>
                                <li class="music">BREATHE CAROLINA | BLACKOUT</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">SWEDISH HOUSE MAFIA | DON'T YOU WORRY CHILD
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">IMAGINE DRAGONS | RADIOACTIVE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">BROKEN BELLS | THE HIGH ROAD</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | GET HIGHER </br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">THE BLACK KEYS | LITTLE BLACK SUBMERINES</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">ALEX CLAIRE | TOO CLOSE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | LOVE LIKE YOU</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">M83 | MIDNIGHT CITY</br>
                                    <audio controls style="borer-radius: 0px;">
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <br>
                                <br>
                                <!-- PLAYLIST END -->
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Sample</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sample-Playlists Modal 6 -->
<div class="sample-playlists-modal modal fade" id="sample-playlistsModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg center-block">
                    <div class="modal-body">
                        <!-- PLAYLIST START  -->
                        <div class="top">DISGUST PLAYLIST</div>
                        <div class="centered-playlist">
                            <ul class>
                                <li class="music">BREATHE CAROLINA | BLACKOUT</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">SWEDISH HOUSE MAFIA | DON'T YOU WORRY CHILD
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">IMAGINE DRAGONS | RADIOACTIVE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">BROKEN BELLS | THE HIGH ROAD</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | GET HIGHER </br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">THE BLACK KEYS | LITTLE BLACK SUBMERINES</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">ALEX CLAIRE | TOO CLOSE</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">PAPER TOUNGUES | LOVE LIKE YOU</br>
                                    <audio controls>
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <li class="music">M83 | MIDNIGHT CITY</br>
                                    <audio controls style="borer-radius: 0px;">
                                        <source src="horse.ogg" type="audio/ogg">
                                        <source src="horse.mp3" type="audio/mpeg"> Your browser does not support the audio element.
                                    </audio>
                                </li>
                                <br>
                                <br>
                                <!-- PLAYLIST END -->
                        </div>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Sample</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
